<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thronlie.balinasoft.by.sacredheartschoolthronlie">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <permission
        android:name="thronlie.balinasoft.by.sacredheartschoolthronlie.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="thronlie.balinasoft.by.sacredheartschoolthronlie.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:largeHeap="true"
        android:label="@string/app_icon_label"
        android:name="thronlie.balinasoft.by.sacredheartschoolthronlie.SchoolsApplication"
        android:supportsRtl="true">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name=".push.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".push.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".push.RegistrationIntentService"
            android:exported="false"></service>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".activities.AlertsMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AlertsTheme" />

        <activity
            android:name=".activities.AlertsConcreteActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AlertsTheme" />
        <activity
            android:name=".activities.EventsMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/EventsTheme" />

        <activity
            android:name=".activities.EventsConcreteActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/EventsTheme" />
        <activity
            android:name=".activities.NewsMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/NewsTheme" />
        <activity
            android:name=".activities.NewsConcreteActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/NewsTheme" />
        <activity
            android:name=".activities.NewslettersMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/NewslettersTheme" />
        <activity
            android:name=".activities.NewslettersConcreteActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/NewslettersTheme" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/ContactUsTheme" />
        <activity
            android:name=".activities.FeedActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/HomeTheme" />

        <activity
            android:name=".activities.CalendarActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/EventsTheme" />

        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/HomeTheme" />

        <activity
            android:name=".activities.ParentsUniformActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/ParentsTheme" />

        <activity
            android:name=".activities.ParentsCanteenActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/ParentsTheme" />

        <activity
            android:name=".activities.ParentsPFAssociationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/ParentsTheme" />

        <activity
            android:name=".activities.ParentsFeesActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/ParentsTheme" />

        <activity
            android:name=".activities.ParentsEnrolementsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/ParentsTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD1kq_IREM05jeEQxAtcoIUlvWYXS82Wro" />
    </application>

</manifest>
